<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
			default-autowire="byName">
		<bean id="transactionManager" 
            class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		    <property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<!-- <bean id="allLogInterceptor" class="com.lehecai.admin.web.interceptor.AllLogInterceptor"/> -->
		<tx:advice id="txAdvice" transaction-manager="transactionManager">
	        <tx:attributes>
	            <tx:method name="*" propagation="NOT_SUPPORTED" read-only="true"/>
	            <tx:method name="add*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="insert*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="update*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="del*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="merge*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="manage*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="save*" propagation="REQUIRED" read-only="false"/>
	            <tx:method name="audit*" propagation="REQUIRED" read-only="false"/>
	        </tx:attributes>
    	</tx:advice>
   
	    <aop:config>
	        <aop:pointcut id="interceptorPointCuts"
	            expression="execution(* rsj.admin.web.service.impl.*.*.*(..)) and !execution(* rsj.admin.web.service.impl.ticket.*.*(..))" />
	        <aop:advisor advice-ref="txAdvice"
	            pointcut-ref="interceptorPointCuts" />
	    </aop:config>
	    
	    <bean id="velocityUtil" class="rsj.admin.web.utils.VelocityUtil" />
	    
	    <bean id="siteConfigService" class="rsj.admin.web.service.impl.base.SiteConfigServiceImpl" />
	    
		<bean id="userService" class="rsj.admin.web.service.impl.user.UserServiceImpl" />
		<bean id="userLevelService" class="rsj.admin.web.service.impl.user.UserLevelServiceImpl" />
		<bean id="roleService" class="rsj.admin.web.service.impl.user.RoleServiceImpl" />
		<bean id="menuService" class="rsj.admin.web.service.impl.user.MenuServiceImpl" />
		<bean id="permissionService" class="rsj.admin.web.service.impl.user.PermissionServiceImpl" />
		<bean id="permissionItemService" class="rsj.admin.web.service.impl.user.PermissionItemServiceImpl" />
		<bean id="logService" class="rsj.admin.web.service.impl.log.LogServiceImpl" />
		<bean id="multiconfirmService" class="rsj.admin.web.service.impl.multiconfirm.MulticonfirmServiceImpl" />
		
		<bean id="archivesService" class="rsj.admin.web.service.impl.archives.ArchivesServiceImpl" />
		<bean id="newsService" class="rsj.admin.web.service.impl.news.NewsServiceImpl" />
		<bean id="reportService" class="rsj.admin.web.service.impl.report.ReportServiceImpl" />

</beans>
